/**
 * Footer styles
 */

.footer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__text {
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.footer__text .link {
    text-decoration: none;
    background: #6f1ab6;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
}

.footer__text .link:hover {
    color: #6f1ab6;
    background: white;
}

.footer__logo {
    width: 200px;
}

.footer__avatar {
    margin-bottom: 20px;
    border-radius: 50%;
    border: 6px #6f1ab6 solid;
}