/**
 * Import all styles
 */

@import "@/styles/base/vars.scss";
@import "@/styles/base/scaffolding.scss";
@import "@/styles/base/mixins.scss";
@import "@/styles/base/animations.scss";

@import "@/styles/task/task-item.scss";
@import "@/styles/task/task-list.scss";