/**
 * Footer styles
 */

.footer {
    @include flex-col(center, center);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    pointer-events: none;

    &__text {
        margin-bottom: 20px;
        color: $color-text1;
        font-weight: bold;

        .link {
            text-decoration: none;
            background: $color-theme2;
            color: $color-text1;
            padding: 2px 5px;
            border-radius: 3px;
            pointer-events: auto;
            transition: all 200ms ease-in-out;

            &:hover {
                color: $color-theme2;
                background: $color-text1;
            }
        }
    }

    &__logo {
        width: 200px;
    }

    &__avatar {
        margin-bottom: 20px;
        border-radius: 50%;
        border: 6px $color-theme2 solid;
    }

    .lottie {
        position: relative;
        overflow: visible;

        &::before {
            content: "";
            background: $color-theme2;
            box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.753);
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            width: 100px;
            height: 40px;
            border-radius: 60%;
        }
    }
}