/**
 * Styles for tasklist component
 */

.task-list {
    @include flex-col(initial, initial);
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.07);
    padding: 20px;
    overflow: hidden;

    &__head {
        @include flex-row(space-between, center);
        border-bottom: 1px #757575 solid;
        padding-bottom: 10px;
        .title {
            color: $color-text1;
            font-size: 30px;
            position: relative;
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                background: $color-danger;
                position: absolute;
                top: 0;
                right: -20px;
                animation: animRotate 2s linear infinite;
            }
        }
        .add {
            color: $color-text1;
            background: $color-theme1;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
        }
    }

    &__list {
        list-style-type: none;
        height: 100%;
    }

    &__container {
        @include flex-row(center, center);
        flex: 1;
        .info-text {
            color: $color-text2;
        }
        .info-error {
            color: $color-danger;
        }
    }

    &__box {
        text-align: center;
    }
}
